// PAGE WRAPPER
.page-wrapper {
  height: 100vh;
  background-color: rgb(251, 223, 240);

  .link {
    &:hover {
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      transform: scale(1.5);
    }
  }

  .form-page-outermost-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  .form-wrapper,
  .form-wrapper-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: auto;
    border-radius: 16px;
    background-color: rgb(162, 120, 181);
    color: rgb(255, 241, 233);

    h1 {
      margin: 2.5rem;
    }
  }

  .form-wrapper-login {
    height: 400px;
  }

  .form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-up-link-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    .link {
      text-decoration: none;
      color: rgb(74, 43, 89);
    }
  }

  input,
  textarea {
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    width: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;

    &:focus {
      outline: none;
    }
  }

  button {
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    background-color: rgb(255, 241, 233);
    color: rgb(56, 20, 96);
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
      background-color: rgb(56, 20, 96);
      color: rgb(255, 241, 233);
      cursor: pointer;
    }
  }

  .btn {
    width: fit-content;
    margin: 0;

    &--past-entries {
      width: fit-content;
      margin: 1rem;
      margin-top: 0;
    }
    &--entry-form {
      margin-bottom: 1rem;
    }
  }

  .item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin: 1rem;
      list-style-type: circle;
      color: rgb(255, 241, 233);
      font-weight: 800;

      span {
        font-size: 1.25rem;
        color: rgb(81, 50, 82);
        text-decoration: underline;
      }

      p {
        margin: 1rem;
        font-weight: 400;
      }
    }
  }
}

//ENTRY FORM

.entry-form-header {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 241, 233);
}

form {
  display: flex;
  justify-content: center;
  width: 100%;

  label {
    width: 75%;
  }
}

// NAVBAR
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;

  .log-in-nav {
    width: 40%;
  }

  h1 {
    color: rgb(162, 120, 181);
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .sign-in-link {
    justify-content: flex-end;
  }
  .navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    color: rgb(162, 120, 181);
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;
  }
}
