// PAGE WRAPPER
.page-wrapper {
  height: 100vh;
  background-color: rgb(251, 223, 240);

  .form-page-outermost-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }

  .form-wrapper,
  .form-wrapper-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
    width: 500px;
    border-radius: 16px;
    background-color: rgb(162, 120, 181);
    color: rgb(255, 241, 233);

    h1 {
      margin: 0;
    }
  }

  .form-wrapper-login {
    height: 450px;
  }

  .form-inputs-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-up-link-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    .link {
      text-decoration: none;
      color: rgb(74, 43, 89);
    }
  }

  input,
  textarea {
    border: none;
    border-radius: 8px;
    padding: 0.75rem;
    width: -webkit-fill-available;
    font-family: Arial, Helvetica, sans-serif;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: rgb(255, 241, 233);
    color: rgb(56, 20, 96);
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;

    padding: 0.75rem;

    &:hover {
      background-color: rgb(56, 20, 96);
      color: rgb(255, 241, 233);
      cursor: pointer;
    }
  }

  .item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin: 1rem;
      list-style-type: circle;
      color: rgb(255, 241, 233);
      font-weight: 800;

      span {
        font-size: 1.25rem;
        color: rgb(81, 50, 82);
        text-decoration: underline;
      }

      p {
        margin: 1rem;
        font-weight: 400;
      }
    }

    .delete-btn {
      height: fit-content;
    }
  }
}

//ENTRY FORM

h2 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(255, 241, 233);
}

// NAVBAR
.navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2rem;

  h1 {
    color: rgb(162, 120, 181);
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  .link {
    color: rgb(162, 120, 181);
    font-size: 1.15rem;
    font-weight: bold;
    text-decoration: none;
  }

  .logout-btn {
    display: none;
  }
}
